---
import Comparison from "../components/Comparison.astro";
import FAQ from "../components/FAQ.astro";
import Features from "../components/Features.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import HowItWorks from "../components/HowItWorks.astro";
import TechBento from "../components/TechBento.astro";
import TechStack from "../components/TechStack.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="openDNM | Open Source Domain Manager">
  <Header />
  <main>
    <Hero />
	    <div
      class="w-full h-px bg-linear-to-r from-transparent via-dark-border to-transparent"
    >
    </div>
    <TechStack />
    <Comparison />
    <TechBento />
    <Features />
    <HowItWorks />
		    <div
      class="w-full h-px bg-linear-to-r from-transparent via-dark-border to-transparent"
    >
    </div>
    <FAQ />
  </main>
  <Footer />
</Layout>
